.c-nav {
  background-color: var(--nav-background-color);
  box-shadow: 0 10px 20px rgba(0,0,0,0.05);
  min-width: 100%;
  position: fixed;
  z-index: 10000000;

  @media (min-width: $tablet-768) {
    height: 6rem;
  }

  &__inner-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;

    @media (min-width: $tablet-768) {
      flex-direction: row;
    }
  }

  &__logo {
    margin: 0.7rem 0;
    width: 12rem;

    @media (min-width: $tablet-768) {
      margin: 0;
      width: 14rem;
    }

    &-container {
      flex: 1;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__links {
    &-container {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      flex: 7;
      height: 100%;

      @media (min-width: $tablet-768) {
        flex-direction: row;
      }
    }
  }

  &__link {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 2rem;
    border-bottom: 0.2rem solid transparent;
    transition: border-bottom-color $animation-delay;

    @media (min-width: $tablet-768) {
      margin: 0 2rem;
    }

    &:hover {
      text-decoration: none;
      border-bottom-color: var(--text-color-dark-500);
    }

    &-item {
      color: var(--color-black-500);
      font-size: $font-size-16;
      white-space: nowrap;
    }
  }

  &__hamburger-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  &__bar {
    height: 0.2rem;
    width: 3.5rem;
    border: none;
    background-color: var(--text-color-dark-500);
    margin: 0.3rem 0;

    &:nth-of-type(2) {
      width: 2.5rem;
    }

    &:nth-of-type(3) {
      width: 3rem;
    }
  }
}
